body {
    margin: 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #40514E;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    font-weight: normal;
    line-height: 2;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 7px;
    height: 0px;
    width: 4%;
}

p {
    line-height: 2;
}

.pro {
    text-decoration: underline;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px 100px 0 100px;
    margin-bottom: 100px;
}

.middle-container {
    margin-bottom: 80px;
}

.bottom-container {
    background-color: #66BFBF;
    margin-bottom: 0;
    padding-top: 65px;
    padding-bottom: 20px;
}

.top-cloud {
    position: absolute;
    right: 25%;
    top: 8%;
}

.bottom-cloud {
    position: absolute;
    left: 22%;
    bottom: 42%;
}

.profile {
    padding-bottom: 80px;
}

.about-me {
    width: 30%;
    margin: auto;
}

.skills {
    padding-top: 50px;
    padding-bottom: 80px;
}

.skill-row {
    width: 50%;
    margin: 75px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.formal {
    padding-top: 30px;
}

.informal {
    padding-top: 60px;
}

.bot-img {
    width: 25%;
    float: left;
    margin: auto 30px auto auto;
}

.milkshake-img {
    width: 25%;
    float: right;
    margin: auto auto auto 30px;
}

.circular {
    border-radius: 50%;
}

.contact-me {
    padding-top: 50px;
}

.contact-me-line {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    line-height: 2;
    font-weight: 600;
}

.contact-me-btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    height: 10px;
    line-height: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 211px;
    font-size: 25px;
    font-weight: 600;
    padding: 19px;
    -webkit-box-shadow: 0 0 1px 0 #637A7A;
    -moz-box-shadow: 0 0 1px 0 #637A7A;
    box-shadow: 0 0 1px 0 #637A7A;
    text-shadow: 0 1px 6px #000000;
    border: solid #637A7A 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.contact-me-btn:hover {
    border: solid #637A7A 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-decoration: none;
}

.full-cv-link {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 50px;
  line-height: 2;
  display: inline-block;
}

.full-cv-link:hover {
  color: #11999E;
  text-decoration: underline;
}

/* {
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: #25D6DD;
    padding: 10px;
} */
.footer-link {
    color: #11999E;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.copyright-line {
    margin-bottom: 0;
    padding-bottom: 50px;
    color: #EAF6F6;
    margin-top: 40px;
}
